<component name="libraryTable">
  <library name="spring-web-4.1.6.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/spring01/web/WEB-INF/lib/spring-web-4.1.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://E:/BaiduNetdiskDownload/框架/05. 高级框架阶段【北京尚学堂·百战程序员】/02 Spring4/02 Spring4/01 Spring第一天/01 资料/01 Spring 官方包及源码/spring-framework-4.1.6.RELEASE-dist/spring-framework-4.1.6.RELEASE/libs/spring-web-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/BaiduNetdiskDownload/框架/05. 高级框架阶段【北京尚学堂·百战程序员】/02 Spring4/02 Spring4/01 Spring第一天/01 资料/01 Spring 官方包及源码/spring-framework-4.1.6.RELEASE-dist/spring-framework-4.1.6.RELEASE/libs/spring-web-4.1.6.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>